.card > .img-container {
    height: 60%;
    overflow: hidden;
    text-align: center;
    background:#6CADDC;
  }
  .card > .img-container > img {
    width: 60%
  }

  .card {
    width: 6%;
    height: 15%;
  }
  